.banner {
  padding: 1rem 1rem 0 1rem;
  width: calc(100% - 2rem);
  background: var(--tg-theme-secondary-bg-color);
}

.banner div>p {
  word-break: normal;
  font-size: 14px;
}

.banner_button {
  background: var(--gurmag-accent-color);
  font-weight: 600;
  width: 100%;
}

.wizard_button {
  background: #C0FF00;
  font-weight: 500;
  width: calc(100vw - 2rem);
  padding: 0;
}

.banner_close {
  font-size: 20px;
}