.page_filter {
  max-width: 100vw;
  /* background: var(--tg-theme-secondary-bg-color);  */
  margin-left: 16px;
  position: relative;
}

.overlayed {
  top: 65px;
  z-index: 1;
  position: fixed;
  animation-name: fadeIn;
  animation-duration: 0.5s;

  width: calc(100vw - 15px);
  background: var(--tg-theme-bg-color);
  padding: 15px 0px 10px 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 1000;
}
.overlayed > .filter_list {
  flex-wrap: nowrap;
}
.overlayed .filter_item {
  margin-top: 8px;
}

.filter_list {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow-x: overlay;
  padding-bottom: 5px;
}

/* size */
.filter_list::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/* Track */
.filter_list::-webkit-scrollbar-track {
  background: 'none';
}
 
/* Handle */
.filter_list::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
.filter_list::-webkit-scrollbar-thumb:hover {
  background: none;
}



.filter_item {
  /* padding: 0.75rem 1rem; */
  border-radius: 1000px;
  color: var(--громкий-текст);
  /* border: 1px solid var(--громкий-текст); */
  transition: all 0.3s ease 0s;
  margin-bottom: 0.5rem;
  margin-right: 21px;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 600;
  list-style: none;
  color: var(--gur-secondary-text-color);
}

.filter_list .active {
  /* background: var(--gurmag-accent-color);
  color: var(--tg-theme-button-text-color); */
  font-weight: 900;
  color: var(--gur-primary-text-color);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    top: -50px;
  }
  
  to {
    opacity: 1;
    top: 65px;
  }
}