.page_filter {
  max-width: 100vw;
  /* background: var(--tg-theme-secondary-bg-color);  */
  margin-left: 16px;
  position: relative;
  padding: 1rem 0;
}
.page_filter.fixed {
  padding-top: 0px;
}
.filter_list {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width:none;
}

.list_static {
  
  flex-wrap: wrap;
}

/* size */
.filter_list::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/* Track */
.filter_list::-webkit-scrollbar-track {
  background: none;
}
 
/* Handle */
.filter_list::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
.filter_list::-webkit-scrollbar-thumb:hover {
  background: none;
}



.filter_item {
  margin-right: 21px;
  /* margin-bottom: 0.5rem; */
  transition: all 0.3s ease 0s;
  border-radius: 1000px;
  font-size: 16px;
  /* line-height: 16.41px; */
  font-weight: 600;
  list-style: none;
  color: var(--тихий-текст);
}

.filter_list .active {
  /* background: var(--gurmag-accent-color);
  color: var(--tg-theme-button-text-color); */
  font-weight: 900;
  color: var(--громкий-текст);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    top: -50px;
  }
  
  to {
    opacity: 1;
    top: 65px;
  }
}