.page_filter {
  max-width: 100vw;
  background: var(--tg-theme-bg-color);
  position: relative;
  padding: 1rem 0;
}

.filter_list {
  display: flex;
  white-space: nowrap;
  overflow-x: overlay;
}

/* size */
.filter_list::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/* Track */
.filter_list::-webkit-scrollbar-track {
  background: none;
}
 
/* Handle */
.filter_list::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
.filter_list::-webkit-scrollbar-thumb:hover {
  background: none;
}



.filter_item {
  color: var(--тихий-текст);
  margin-left: 18px;
  font-size: 14px;
  font-weight: 600;
  list-style: none;
}

.filter_list .active {
  color: var(--громкий-текст);
  font-weight: 800;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    top: -50px;
  }
  
  to {
    opacity: 1;
    top: 65px;
  }
}