.collections_wrapper {
  padding: 0.5rem;
}


.selection_cover_item {
  margin: 0 0.5rem;
  border-radius: 13px;
  overflow: hidden;
  position: relative;
}
.selection_cover_item > p {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
