@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--tg-theme-text-color);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: var(--tg-theme-secondary-bg-color);
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

h2 {
  font-size: 19px;
  font-weight: 700;
  line-height: 22.27px;
}

/* отключение верхней черты в инпуте */
.adm-form-item.adm-form-item-vertical .adm-list-item-content { 
  border-top: none;
}

/* v Форма на карте */
/* Space на три части*/
.gur-form .gur-space.gur-space_3 .adm-space-item {
  width: 33.3%;
}
.gur-form .gur-space .adm-space-item {
  width: 100%;
}

.gur-form .adm-form-item.gur-form__item {
  /* margin: 0.5rem 1rem; */
  margin: 0;
  border-radius: 8px;
  height: 44px;
  padding: 4px 8px 0px 16px;
  border: 1px solid var(--gur-input-color)!important;
  border-radius: 8px;
}
/* крестик */
.gur-form .adm-form-item.gur-form__item .adm-input-clear {
  padding: 1.5px;
}
.gur-form .adm-form-item.gur-form__item .adm-list-item-content {
  padding-right: 0;
}
.gur-form .adm-form-item.gur-form__item .adm-list-item-content .adm-list-item-content-main {
  padding: 0;
}
.gur-form .adm-form-item.gur-form__item .adm-list-item-content .adm-input {
  min-height: auto;
  overflow: hidden;
  /* width: 100%; */
}
.gur-form .adm-form-item.gur-form__item .adm-list-item-content .adm-input .adm-input-element {
  /* width: 100%; */
}

/* label */
.gur-form .adm-form-item .adm-list-item-title .adm-form-item-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: var(--gur-input-color);
  margin-bottom: 5px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* input */
.gur-form .adm-input-element {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: var(--громкий-текст);
   display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ^ Форма на карте */


/* Фон картинки в карточке */
.course_item_card>.adm-image>.adm-image-tip {
  background: var(--gur-skeleton-bg-color)
}
.course_item_card>.adm-image>.adm-image-tip>svg>path {
  fill: var(--gur-card-bg-color);
}

/* Модалка товара */
.item_modal {
  background: none;
  height: calc(100vh - 20px);
  overflow-y: auto;
  border-radius: 20px 20px 0 0;
}
.item_modal_content {
  background: var(--tg-theme-secondary-bg-color);
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.item_modal_top_wrapper {
  background: var(--tg-theme-bg-color);
  padding: 0 16px 20px;
  border-radius: 0px 0px 15px 15px;
}
.item_modal_description_wrapper {
  flex: 1;
  margin-top: 6px;
  padding: 0 16px 20px;
  border-radius: 15px 15px 0px 0px;
  background: var(--tg-theme-bg-color);
}

.item_modal_title_text {
  color: var(--громкий-текст);
  color: var(--tg-theme-text-color);
  font-size: 26px;
  font-weight: 600;
  line-height: 29px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
}

.item_modal_count_text {
  font-size: 13px;
  font-weight: 700;
  line-height: 29px;
  color: var(--gur-card-count-text-color);
}

.item_modal_weight_text {
  font-size: 22.5px;
  font-weight: 700;
  line-height: 26.37px;

  color: var(--gur-card-weight-text-color);
}
.item_modal_price_text_shell {
  padding: 1px 11.25px 2px 14.75px;
  background-color: var(--tg-theme-secondary-bg-color);
  border-radius: 10px;
}
.item_modal_price_text {
  color: var(--громкий-текст);
  font-size: 25px;
  font-weight: 800;
  line-height: 29.3px;
  color: var(--gur-card-price-text-color);
}

.item_modal_description_label {
  padding-top: 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 29px;
  color: var(--тихий-текст);
}
.item_modal_description_text {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--громкий-текст);
}

.item_modal_stepper.adm-stepper {
  background-color: var(--tg-theme-secondary-bg-color);
  min-width: 112px;
}
.item_modal_stepper.adm-stepper .adm-input-element {

  font-weight: 700;
}