
.city_label {
  background: var(--tg-theme-secondary-bg-color);
  border-radius: 100px;
  margin-left: 0.75rem;
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 18px;
  width: max-content;
}

.addr_from_input {
  border: 2px solid var(--adm-color-border);
  margin: 0.5rem 1rem;
  border-radius: 13px;
}

.wrapper {
  height: 100%;
}

.submit_button {
  width: calc(100% - 1rem);
  margin: 0.5rem;
  background: var(--gurmag-accent-color);
}